/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.logo {

margin-top:10px;

}

.navbar-header{
text-align: center;
}


.jumbotron{
	height:600px;
	text-align: center;
	background-image:url('http://www.musicmeet.com/images/cover.png');
	background-color: black;
	background-size: cover;

}

.jumbotron h1{
	padding-top:0px;
	font-size:32px; !important;
	font-family: BrandonText, Helvetica; !important;
	color:white;

}
.container{

}
#argumentos{
	text-align: center;
}

#argumentos h2{
		font-family: BrandonText, Helvetica; !important;
		font-size: 24px;
}

#argumentos p{
		font-family: BrandonText-Light;
		font-size: 16px;
}

.jumbotron p{
	font-family: BrandonText-Light;
	color:white;
	opacity: 0.5;
}

@font-face{

font-family: BrandonText;
src: url('http://www.musicmeet.com/fonts/BrandonText.otf');

}

@font-face{
font-family: BrandonText-Light;
src: url('http://www.musicmeet.com/fonts/BrandonText-Light.otf');
}

#perfil{

height:375;
max-width:275;
}